{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Give your data a home") }}</h1>
      <p>
        {% trans %}Publish or register datasets, create and manage groups and communities.
        {% endtrans %}
      </p>
    {% endif %}
  </header>

  {% block home_image %}
    <section class="featured media-overlay hidden-phone">
      <h2 class="media-heading">{% block home_image_caption %}{{ _("Analytics") }}{% endblock %}</h2>
      {% block home_image_content %}
        <a class="media-image" href="#">
          <img src="{{ h.url_for_static('/base/images/analytics.jpeg') }}" alt="Placeholder" width="420" height="220" />
        </a>
      {% endblock %}
    </section>
  {% endblock %}
</div>
